@input-prefix-cls: ~"@{css-prefix}input";

.@{input-prefix-cls} {
  display: inline-block;
  width: 100%;
  position: relative;
  vertical-align: middle;
  line-height: normal;

  &-inner {
    .input;
  }

  &-clear {
    .@{input-prefix-cls}-inner {
      padding-right: 30px;
    }
  }

  &-icon {
    position: absolute;
    right: 0;
    width: 30px;
    height: @input-height-default;
    text-align: center;
    line-height: @input-height-default;
    color: @css-color-info;
    cursor: pointer;
    z-index: 2;
  }
}


.@{input-prefix-cls}-group {
  .input-group(~"@{input-prefix-cls}");
}