@radio-prefix: ~"@{css-prefix}radio";
@radio-prefix-inner :~"@{radio-prefix}-inner";
@radio-prefix-wrap :~"@{radio-prefix}-wrap";
@radio-prefix-button :~"@{radio-prefix}-group-button";

.@{radio-prefix} {
  display: inline-block;
  margin-right: 4px;
  white-space: nowrap;
  position: relative;
  line-height: 1;
  vertical-align: middle;

  &:hover {
    .@{radio-prefix-inner} {
      box-shadow: 0 0 5px 1px tint(@css-color-primary, 30%);
    }
  }


  &-inner {
    display: inline-block;
    width: 14px;
    height: 14px;
    position: relative;
    top: 0;
    left: 0;
    background-color: @css-white;
    border: 1px solid @css-color-info;
    border-radius: 50%;

    &:after {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      left: 3px;
      top: 3px;
      border-radius: @css-radius-default;
      display: table;
      border-top: 0;
      border-left: 0;
      background-color: @css-white;
      opacity: 0;
      transition: all .2s ease-in-out;

      // transform: scale(0);
    }



  }

  &-checked {
    .@{radio-prefix-inner} {
      border-color: @css-color-primary;
      background-color: @css-color-primary;

      &::after {
        opacity: 1;
        // transform: scale(1);
        transition: all .2s ease-in-out;
      }
    }

    &hover {
      .@{radio-prefix-inner} {
        border-color: @css-color-primary;
      }
    }
  }

  &-input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    cursor: @cursor-pointer;
  }

  &-wrap {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    white-space: nowrap;
    font-size: @css-font-size;
    position: relative;
    cursor: @cursor-pointer;
    user-select: none;

    &-disabled {
      cursor: @cursor-disabled;

      .@{radio-prefix-inner} {
        border-color: @css-input-disabled;
        background-color: tint(@css-input-disabled, 40%);

        &:hover {
          box-shadow: 0 0 5px 1px tint(@css-color-disable, 30%);
        }
      }

      &>span {
        color: @css-input-disabled;
      }

      .@{radio-prefix}-input {
        cursor: @cursor-disabled;
      }
    }

    &-border {
      border: 1px solid @css-color-info;
      padding: @radio-border-padding;

      &-checked:not(.@{radio-prefix-wrap}-checked) {
        border: 1px solid @css-color-primary;
      }
    }
  }

  &-focus {
    box-shadow: 0 0 0 2px fade(@css-color-primary, 20%);
    z-index: 1;
  }

  &-group {
    display: inline-block;
    font-size: @css-font-size;
    vertical-align: middle;

    &-vertical {
      .@{radio-prefix}-wrap {
        display: block;
        height: 25px;
        line-height: 25px;
      }
    }
  }

  &-small {
    font-size: @css-font-size-small;

    & .@{radio-prefix-inner} {
      width: 12px;
      height: 12px;

      &::after {
        width: 4px;
        height: 4px;
        left: 3px;
        top: 3px;
      }
    }
  }

  &-large {
    font-size: @css-font-size-large;

    & .@{radio-prefix-inner} {
      width: 16px;
      height: 16px;

      &::after {
        width: 8px;
        height: 8px;
      }
    }
  }
}

span.@{radio-prefix}+* {
  margin-left: 2px;
  margin-right: 2px;
}

.@{radio-prefix-button} {
  font-size: 0;
  text-size-adjust: none;

  .@{radio-prefix} {
    width: 0;
    margin-right: 0;

    &-wrap {
      display: inline-block;
      position: relative;
      height: @input-height-default;
      line-height: @input-height-default - 2px;
      margin: 0;
      padding: 0 16px;
      font-size: @css-font-size;
      color: @input-border-color;
      transition: all .3s;
      border: 1px solid @css-color-info;
      border-left: 0;
      background-color: @css-white;
      cursor: @cursor-pointer;

      >span {
        margin-left: 0;
      }

      &:last-child,
      &:first-child {
        border-radius: @css-radius-default;
      }

      &::before,
      &::after {
        height: @input-height-default +4px;
        left: -1px;
        top: -3px;
        background: fade(@css-color-primary, 20%);
        opacity: 0;
      }

      &:first-child {
        border-radius: @css-radius-default 0 0 @css-radius-default;
        border-left: 1px solid @css-color-info;

        &::before,
        &::after {
          display: none;
        }
      }

      &:last-child {
        border-radius: 0 @css-radius-default @css-radius-default 0;
      }

      &:hover {
        position: relative;
        color: shade(@css-color-primary, 30%);
        border-color: @css-color-primary;

        & .@{radio-prefix} {
          background-color: black;
        }
      }

      .@{radio-prefix}-inner,
      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      &-checked {
        color: @css-white;
        border-color: @css-color-primary;
        box-shadow: -1px 0 0 @css-color-primary;
        background-color: tint(@css-color-primary, 20%);
        z-index: 1;

        &::before {
          background: @css-color-primary;
          opacity: .1;
        }

        &.@{radio-prefix}-focus {
          box-shadow: -1px 0 0 0 @css-color-primary, 0 0 0 2px fade(@css-color-primary, 20%);
          transition: all .3s;

          &::after {
            left: -3px;
            top: -3px;
            opacity: 1;
            background: fade(@css-color-primary, 20%);
          }

          &:first-child {
            box-shadow: 0 0 0 2px fade(@css-color-primary, 20%);
          }
        }

        &:first-child {
          border-color: @css-color-primary;
          box-shadow: none;
        }

        &:hover {
          border-color: tint(@css-color-primary, 20%);
        }

        &:active {
          border-color: shade(@css-color-primary, 5%);
        }
      }

      &-disabled {
        border-color: @css-input-disabled;
        background-color: @css-input-disabled;
        color: @css-color-disable;
        cursor: @cursor-disabled;

        &:first-child,
        &:hover {
          border-color: @css-input-disabled;
          background-color: @css-input-disabled;
          color: @css-color-disable;
        }

        &:first-child {
          border-left-color: @css-input-disabled;
        }
      }

      &-disabled.@{radio-prefix}-wrap-checked {
        color: #fff;
        background-color: #e6e6e6;
        border-color: @css-input-disabled;
        box-shadow: none !important;
      }
    }
  }
}