@css-perfix-select :~"@{css-prefix}select";
@css-perfix-select-option :~"@{css-perfix-select}-option";

.@{css-perfix-select} {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: @css-font-size;
  color: #333;
}