@css-prefix: qk-;

//颜色
@css-color-default: #928f8f;
@css-color-primary: #1890ff;
@css-color-sucess: #73d13d;
@css-color-warning: #ffc53d;
@css-color-error: #ff4d4f;
@css-white: #fff;

//间距
@css-padding-default: 6px 22px;
@css-padding-small: 3px 10px;
@css-padding-large: 9px 25px;
//弧度
@css-border-radius :5px;
@css-radius-size: 15px;
@css-radius-size-large: 35px;

//按钮
@btn-font-size: 14px;
@btn-font-size-small: 12px;
@btn-font-size-large: 16px;