@css-prefix: qk-;

//颜色
@css-color-primary: #1890ff;
@css-color-sucess: #73d13d;
@css-color-warning: #ffc53d;
@css-color-error: #ff4d4f;
@css-color-info: #b8b8b8;
@css-white: #fff;

//间距
@css-padding-default: 6px 22px;
@css-padding-small: 3px 10px;
@css-padding-large: 9px 25px;

//弧度
@css-radius-default :5px;
@css-radius-size: 15px;
@css-radius-size-small: 3px;
@css-radius-size-large: 35px;

//字体
@css-font-size: 14px;
@css-font-size-small: 12px;
@css-font-size-large: 16px;

//栅格
@grid-columns: 24;
@grid-gutter-width: 0;

//input
@css-input-disabled: #aca7a7;
@css-input-placeholder: @css-input-disabled;
@input-padding-vertical-base: 4px;
@input-padding-horizontal: 7px;
@input-border-color: #bbb4b4;
@input-height-default: 30px;
@input-height-small: 25px;
@input-height-large: 35px;
@input-padding-small: 2px;
@input-padding-large: 8px;
@input-radius-large: 7px;
//光标
@cursor-disabled: not-allowed;
@cursor-pointer: pointer;